/* You can add global styles to this file, and also import other style files */
.img-div {
  background-size: cover;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.optin {
  font-size: small;
}
.offer {
  color: darkorange;
  font-weight: bold;
}

.info {
  color: green;
}

.error {
  color: red;
}

.alert-msg {
  position: absolute;
  padding-left: 5px;
  color: #8b0000;
}

